<ion-content>
    <form [formGroup]="financialFormGroup">
        <ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        <ion-item no-lines>
                            <ion-label floating>Deposit Amount</ion-label>
                            <ion-input type="number" formControlName="depositAmount"></ion-input>
                        </ion-item>
                        <div class="divErrorMessage" *ngIf="financialFormGroup.controls.depositAmount.invalid && (financialFormGroup.controls.depositAmount.touched || financialFormGroup.controls.depositAmount.dirty)">deposit amount required</div>
                    </ion-col>
                    <ion-col col-2>
                        <img src="https://bit.ly/2RnXJlR" height="50px;" style="margin-top:50%;">
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-8>
                        <ion-item>
                            <ion-label floating>Deposit Date</ion-label>
                            <ion-datetime displayformat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="depositDate"></ion-datetime>
                        </ion-item>
                        <div class="divErrorMessage" *ngIf="financialFormGroup.controls.depositDate.invalid && (financialFormGroup.controls.depositDate.touched || financialFormGroup.controls.depositDate.dirty)">deposit date required</div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-8>
                        <ion-item no-lines>
                            <ion-label floating>Deposit Reciept Number</ion-label>
                            <ion-input type="number" formControlName="depositRecieptNumber"></ion-input>
                        </ion-item>
                    </ion-col>
                    <div class="divErrorMessage" *ngIf="financialFormGroup.controls.depositRecieptNumber.invalid && (financialFormGroup.controls.depositRecieptNumber.touched || financialFormGroup.controls.depositRecieptNumber.dirty)">deposit reciept number required</div>
                </ion-row>
            </ion-grid>
        </ion-list>
        <div style="display: flex;justify-content: center;">
            <button ion-button class="buttonColor" [disabled]="!financialFormGroup.valid" (click)="saveFinancialInformation()">SAVE</button>
                <!-- <button ion-button class="buttonColor" [disabled]="!personalFormGroup.valid">SUBMIT</button> -->
        </div>
    </form>
</ion-content>