<ion-content>
    <form [formGroup]="financialFormGroup">
        <ion-list>
            <ion-item class="uploadDiv">
                <ion-label floating>Deposit Amount&nbsp;&nbsp;&nbsp;<ion-icon right md="md-cloud-upload" (click)="uploadDocument()"></ion-icon></ion-label>
                <ion-input type="number" formControlName="deposit_amount"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="financialFormGroup.controls.deposit_amount.invalid && (financialFormGroup.controls.deposit_amount.touched || financialFormGroup.controls.deposit_amount.dirty)">deposit amount required</div>

            <ion-item>
                <ion-label floating>Deposit Date</ion-label>
                <ion-datetime displayformat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="deposit_date"></ion-datetime>
            </ion-item>
            <div class="divErrorMessage" *ngIf="financialFormGroup.controls.deposit_date.invalid && (financialFormGroup.controls.deposit_date.touched || financialFormGroup.controls.deposit_date.dirty)">deposit date required</div> 

            <ion-item>
                <ion-label floating>Deposit Reciept Number</ion-label>
                <ion-input type="number" formControlName="deposit_reciept"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="financialFormGroup.controls.deposit_reciept.invalid && (financialFormGroup.controls.deposit_reciept.touched || financialFormGroup.controls.deposit_reciept.dirty)">deposit reciept required</div> 
        </ion-list>
        <div style="display: flex;justify-content: center;">
            <button ion-button class="buttonColor" [disabled]="!financialFormGroup.valid">SAVE</button>
                <!-- <button ion-button class="buttonColor" [disabled]="!personalFormGroup.valid">SUBMIT</button> -->
        </div>
    </form>
</ion-content>