<!-- <ion-header>
    <ion-navbar #content>
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <div style="display: flex;justify-content: center;font-weight: bold;font-size:13px;">MSSP PERSONAL INFORMATION</div>
        <ion-buttons right>
            <button ion-button icon-only (click)="logOut()">
                <ion-icon md="md-log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header> -->
<ion-content>
    <form [formGroup]="personalFormGroup">
        <ion-list>
            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input type="text" formControlName="firstname" minLength="3" maxLength="20"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.firstname.invalid && (personalFormGroup.controls.firstname.dirty || personalFormGroup.controls.firstname.touched || personalFormGroup.controls.firstname.errors?.minLength || personalFormGroup.controls.firstname.errors?.maxLength)">firstname required and length should be between 3 and 20</div>
            <ion-item >
                <ion-label floating>Middle Name</ion-label>
                <ion-input type="text" formControlName="middlename" minLength="3" maxLength="20"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.middlename.invalid && (personalFormGroup.controls.middlename.dirty || personalFormGroup.controls.middlename.touched || personalFormGroup.controls.middlename.errors?.minLength || personalFormGroup.controls.middlename.errors?.maxLength)">middlename required and length should be between 3 and 20</div>
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input type="text" formControlName="lastname" minLength="3" maxLength="50"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.lastname.invalid && (personalFormGroup.controls.lastname.dirty || personalFormGroup.controls.lastname.touched || personalFormGroup.controls.lastname.errors?.minLength || personalFormGroup.controls.lastname.errors?.maxLength)">lastname required and length should be between 3 and 20</div>
            <ion-item>
                <ion-label floating>DOB</ion-label>
                <ion-datetime displayformat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="dob"></ion-datetime>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.dob.invalid && (personalFormGroup.controls.dob.dirty || personalFormGroup.controls.dob.touched)">dob required</div>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        <ion-item no-lines>
                            <ion-label floating>Pan Number</ion-label>
                            <ion-input type="text" formControlName="pan" minLength="10" maxLength="10"></ion-input>
                        </ion-item>
                        <div class="divErrorMessage" *ngIf="personalFormGroup.controls.pan.invalid && (personalFormGroup.controls.pan.dirty || personalFormGroup.controls.pan.touched || personalFormGroup.controls.pan.errors?.minLength)">pan required and must contains 10 digits</div>
                    </ion-col>
                    <ion-col col-2>
                            <img src="https://bit.ly/2RnXJlR" height="50px;" style="margin-top:50%;" (click)="uploadDocument()">
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-8>
                        <ion-item no-lines>
                            <ion-label floating>Aadhaar Number</ion-label>
                            <ion-input type="number" formControlName="aadhaar" minLength="12" maxLength="12"></ion-input>
                        </ion-item>
                        <div class="divErrorMessage" *ngIf="personalFormGroup.controls.aadhaar.invalid && (personalFormGroup.controls.aadhaar.dirty || personalFormGroup.controls.aadhaar.touched || personalFormGroup.controls.aadhaar.errors?.minLength)">aadhaar required and must contains 12 digits</div>
                    </ion-col>

                    <ion-col col-2>
                        <img src="https://bit.ly/2RnXJlR" height="50px;" style="margin-top:50%;" (click)="uploadDocument()">
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item>
                <ion-label floating>Bank Account Number</ion-label>
                <ion-input type="string" formControlName="bank_account_no"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.bank_account_no.invalid && (personalFormGroup.controls.bank_account_no.dirty || personalFormGroup.controls.bank_account_no.touched)">bank account number required</div>
            <ion-item>
                <ion-label floating>IFSC Code</ion-label>
                <ion-input type="text" formControlName="ifsc" minLength="8" maxLength="20"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.ifsc.invalid && (personalFormGroup.controls.ifsc.dirty || personalFormGroup.controls.ifsc.touched || personalFormGroup.controls.ifsc.errors?.minLength || personalFormGroup.controls.ifsc.errors?.maxLength)">ifsc required and must contains length between 8 and 20</div>
            <ion-item>
                <ion-label floating>Bank Name</ion-label>
                <ion-input type="text" formControlName="bank_name" minLength="4" maxLength="50"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.bank_name.invalid && (personalFormGroup.controls.bank_name.dirty || personalFormGroup.controls.bank_name.touched || personalFormGroup.controls.bank_name.errors?.minLength || personalFormGroup.controls.bank_name.errors?.maxLength)">bankname required and length should be between 4 and 50</div>
            <ion-item>
                <ion-label floating>Branch</ion-label>
                <ion-input type="text" formControlName="branch" minLength="5" maxLength="50"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.branch.invalid && (personalFormGroup.controls.branch.dirty || personalFormGroup.controls.branch.touched || personalFormGroup.controls.branch.errors?.minLength || personalFormGroup.controls.branch.errors?.maxLength)">branch required and length should be between 5 and 50</div>
            <ion-item>
                <div class="uploadDiv">
                    <div>Cancelation Copy</div>
                    <span style="margin-right:3%;width:50%;height:50%;"><ion-icon md="md-cloud-upload" (click)="uploadDocument()"></ion-icon></span>
                </div>
            </ion-item>
            <!-- <ion-item>
                <button ion-button class="buttonColor" (click)="uploadCancelledCopy()">Upload cancelled copy</button>
            </ion-item> -->
        </ion-list>
        <div style="display: flex;justify-content: center;">
            <button ion-button class="buttonColor" [disabled]="!personalFormGroup.valid" (click)="saveMsspPersonalInfo()">SAVE</button>
            <!-- <button ion-button class="buttonColor" [disabled]="!personalFormGroup.valid">SUBMIT</button> -->
        </div>
    </form>
</ion-content>