<!-- <ion-header>
    <ion-navbar #content>
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <div style="display: flex;justify-content: center;font-weight: bold;font-size:13px;">MSSP PERSONAL INFORMATION</div>
        <ion-buttons right>
            <button ion-button icon-only (click)="logOut()">
                <ion-icon md="md-log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header> -->
<ion-content>
    <form [formGroup]="personalFormGroup">
        <ion-list>
            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input type="text" formControlName="firstname" minlength="5" maxlength="50"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.firstname.invalid && (personalFormGroup.controls.firstname.dirty || personalFormGroup.controls.firstname.touched)">firstname required</div>
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input type="text" formControlName="lastname" minlength="5" maxlength="50"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.lastname.invalid && (personalFormGroup.controls.lastname.dirty || personalFormGroup.controls.lastname.touched)">lastname required</div>
            <ion-item>
                <ion-label floating>DOB</ion-label>
                <ion-datetime displayformat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="dob"></ion-datetime>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.dob.invalid && (personalFormGroup.controls.dob.dirty || personalFormGroup.controls.dob.touched)">dob required</div>
            <ion-item>
                <ion-label floating>Pan Number</ion-label>
                <ion-input type="text" formControlName="pan" minlength="10" maxlength="10"></ion-input>
                <button ion-button clear item-right (click)="uploadDocument()"> <ion-icon style="margin-top : 2.8%;"  md="md-cloud-upload"> </ion-icon> </button>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.pan.invalid && (personalFormGroup.controls.pan.dirty || personalFormGroup.controls.pan.touched || personalFormGroup.controls.pan.errors?.minLength)">pan required and must contains 10 digits</div>
            <ion-item>
                <ion-label floating>Aadhaar Number</ion-label>
                <ion-input type="number" formControlName="aadhaar" maxlength="12"></ion-input>
                <button style="margin-top : 2.8%;" ion-button clear item-right (click)="uploadDocument()"> <ion-icon md="md-cloud-upload"> </ion-icon> </button>
                
                <!-- <div class="uploadDiv">
                    <div>Adhaar Number</div>
                    <ion-input type="text" formControlName="aadhaar" placeholder="aadhaar"></ion-input>
                    <span style="margin-right:3%;width:50%;height:50%;"><ion-icon md="md-cloud-upload" (click)="uploadDocument()"></ion-icon></span>
                </div> -->
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.aadhaar.invalid && (personalFormGroup.controls.aadhaar.dirty || personalFormGroup.controls.aadhaar.touched || personalFormGroup.controls.aadhaar.errors?.minLength)">aadhaar required and must contains 12 digits</div>
            <ion-item>
                <ion-label floating>Bank Account Number</ion-label>
                <ion-input type="text" formControlName="bank_account_no"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.bank_account_no.invalid && (personalFormGroup.controls.bank_account_no.dirty || personalFormGroup.controls.bank_account_no.touched)">bank account number required</div>
            <ion-item>
                <ion-label floating>IFSC Code</ion-label>
                <ion-input type="text" formControlName="ifsc" minlength="8" maxlength="20"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.ifsc.invalid && (personalFormGroup.controls.ifsc.dirty || personalFormGroup.controls.ifsc.touched || personalFormGroup.controls.ifsc.errors?.minLength)">ifsc required and must contains atleast 8 charcters</div>
            <ion-item>
                <ion-label floating>Bank Name</ion-label>
                <ion-input type="text" formControlName="bank_name" minlength="4" maxlength="50"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.bank_name.invalid && (personalFormGroup.controls.bank_name.dirty || personalFormGroup.controls.bank_name.touched || personalFormGroup.controls.bank_name.errors?.minLength)">bankname required and must contains atleast 4 charcters</div>
            <ion-item>
                <ion-label floating>Branch</ion-label>
                <ion-input type="text" formControlName="branch" minlength="5" maxlength="50"></ion-input>
            </ion-item>
            <div class="divErrorMessage" *ngIf="personalFormGroup.controls.branch.invalid && (personalFormGroup.controls.branch.dirty || personalFormGroup.controls.branch.touched || personalFormGroup.controls.branch.errors?.minLength)">branch required and must contains atleast 5 characters</div>
            <ion-item>
                <div class="uploadDiv">
                    <div>Cancelation Copy</div>
                    <span style="margin-right:3%;width:50%;height:50%;"><ion-icon md="md-cloud-upload" (click)="uploadDocument()"></ion-icon></span>
                </div>
            </ion-item>
            <!-- <ion-item>
                <button ion-button class="buttonColor" (click)="uploadCancelledCopy()">Upload cancelled copy</button>
            </ion-item> -->
        </ion-list>
        <div style="display: flex;justify-content: center;">
            <button ion-button class="buttonColor" [disabled]="!personalFormGroup.valid" (click)="saveMsspPersonalInfo()">SAVE</button>
            <!-- <button ion-button class="buttonColor" [disabled]="!personalFormGroup.valid">SUBMIT</button> -->
        </div>
    </form>
</ion-content>